<% provide(:title, 'Contact') %>
<h1>Contact Us</h1>
<p>
  Contact me at another.shay.weiss@gmail.com
  <a href="http://lnkd.in/eQjdHJ">LinkedIn</a>.
  <a href="https://github.com/Shaywei/">GitHub</a>.
</p>
